/******  NAVBAR  ******/
/* change the color of active or hovered links */
.nav-link:hover {
    color: #1A569B !important;
}


/******  NAVBAR  ******/
.footer-custom, .footer-custom ul a {
	background: white;
	color: #1A569B;
}



/******  HERO  ******/
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.hero {
    background-color: white;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.hero-content {
    position: relative;
    width: 71%;
    padding: 2% 2% 0 2%;
}


/******  SIGNUP-FORM  ******/
.signup-form {
	max-width: 700px;
	margin: 0 auto;
}

.form-signup-hightlight-text {
	color: #F7B850;
	text-decoration: underline;
}

.signup-border-blue {
	border: 1px solid #0C2F59;
	box-shadow: 3px 3px #6FA4E1;
	box-shadow: 0 4px 8px 0 rgba(12,47,89, 0.3), 0 6px 20px 0 rgba(12,47,89, 0.3);
}


/******  BORDERS  ******/
.cc-border-blue {
	border: #6FA4E1;
}

.cc-border-darkblue {
	border: 1px solid #143D6D;
}


/******  backgroud colors  ******/
.cc-bg-blue {
	background: #6FA4E1;
	color: white !important;
}

.cc-bg-green {
	background: #95C957;
	color: white !important;
}



/******  SOCIAL MEDIA LINKS  ******/
.social-logo-sm-round {
	width: 30px;
	border: 3px solid #1A569B;
	padding: 2px;
	border-radius: 100%;
}




/******  NAVBAR TWO  ******/
.navbar-custom2 {
	background: #D8E4F1;
}

/* change the brand and text color */
.navbar-custom2 .navbar-brand,
.navbar-custom2 .navbar-text {
    color: #1A569B;
}

/* change the link color */
.navbar-custom2 .navbar-nav .nav-link {
    color: #1A569B;
}

/* change the color of active or hovered links */
.navbar-custom2 .nav-item.active .nav-link,
.navbar-custom2 .nav-item:hover .nav-link {
    color: #1A569B;
}

/******  LogIn Page  ******/
.login-form-wrapper {
    height: 65vh;
    background: white;
    max-width: 350px;
    margin: 0 auto;
}

.login-form-wrapper ul .list-inline-item {
    border-bottom: 2px solid #909090;
    padding: 5px;
}

.login-form-wrapper ul .active,
.login-form-wrapper ul .list-inline-item:hover {
    border-bottom: 2px solid black;
}

.login-form-wrapper ul .list-inline-item a {
	color: #909090;
	text-decoration: none;
}


.login-form-wrapper ul .active a,
.login-form-wrapper ul .list-inline-item a:hover {
    color: black;
    font-weight: bold;
}

.login-form {
	width: 60%;
	margin: 0 auto;
}

.login-form a {
	color: #848484;
}


.login-form button {
	background: #F8F6F6;
	color: black;

}

.login-form input {
	height: 50px;
}

.login-form input[type=email],
.login-form input[type=email]:hover{
	border: 1px solid #D8A3AB;
}

.login-form input[type=email]:focus {
	box-shadow: 0px 0px 10px #D8A3AB;
}

.login-form input[type=password],
.login-form input[type=password]:hover {
	border: 1px solid #799AB9;
}

.login-form input[type=password]:focus {
	border: 0 0 10px #799AB9;
}

.login-form a {
	text-decoration: underline;
}
